@{ 
    ViewBag.Title = "Home";
}
@using  CarRental.Models
@using CarRental.ViewModels
@model HomePageViewModel
<section class="wheel-start">
    <img src="images/bg1.jpg" alt="" class="wheel-img">
    <div class="container padd-lr0">
        <div class="col-lg-6 col-lg-push-6 ">
            <header class="wheel-header marg-lg-b100 marg-lg-t200  marg-md-b0 marg-md-t0">
                <h1>We Are Wheel  </h1>
                <h2>Search - Hire - Compare - Save</h2>
                <span>We Help you Rent Car in 150+ Countries</span>
            </header>
        </div>
        <div class="col-lg-6 col-lg-pull-6  padd-lr0">
            <div class="wheel-start-form">
                <form action="/Home/SearchResults">
                    <div class="clearfix">
                        <div class="wheel-date">
                            <span>Pickup Date</span>
                                <input  class="date" id='pickupDate' type="text" name="pickupDate" >
                        </div>
                        <div class="wheel-date">
                            <span>Return Date</span>
                                <input class="date" id='returnDate' type="text" value="" name="returnDate">
                        </div>
                        <div class="wheel-date">
                            <span>Driver’s Age</span>
                            <select class="selectpicker">
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                            </select>
                        </div>
                        <div class="wheel-date">
                            <span>Manufacture</span>
                            <select class="selectpicker" id="manufactureId" name="manufactureId">
                                <option value="-1" selected="selected">Select</option>
                                @foreach (Manufacture item in Model.ManufacturesList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                                </select>
                        </div>
                    </div>
                    <label for="input-val17" class="promo">
                        <input type="text" id='input-val17' placeholder="Promo Code (Optional)">
                    </label>
                    <label for="input-val18" class="promo promo2">
                        <button class="wheel-btn" id="input-val18">Search</button>
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ////////////////////////////////////////////////////////////// -->
