@using CarRental.Models
<script>
    var dealershipsList = JSON.parse('@Html.Raw(ViewBag.DealershipsList)')

</script>
<div class="wheel-start3">
    <div class="wheel-register-sign marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100 wheel-start-form" style="max-width:100%">
        <!--Map-->
        <div class="row marg-lg-t55 marg-sm-t0 marg-sm-b0 marg-lg-b75">
            <div class="col-xs-12 marg-lg-b75 marg-sm-b0 padd-lr0">
                <div id="map" class="style-1"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function initMap() {
            var bounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(-33.92, 151.25),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < dealershipsList.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(dealershipsList[i].Latitude, dealershipsList[i].Longitude),
                    map: map
                });
                bounds.extend(marker.position);
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(dealershipsList[i].Name);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            var newCenter = new google.maps.LatLng(bounds.getCenter().lat(), bounds.getCenter().lng());
            map.setCenter(newCenter);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTfQtDdAhPVhP5p5-lVaZwi07iasBQUQ0&callback=initMap">
    </script>

</div>
