@{
    ViewBag.Title = "Add Car Manufacture";
}

<div class="wheel-register-block">
    <img src="images/bg1.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-md-7 padd-r0">
                <div class="wheel-register-sign marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                    <div class="wheel-header">
                        <h3>Add <span>Manufacture</span></h3>
                    </div>
                    <form action="/Admin/AddManufacture" method="post">
                        <input type="text" name="name" id="name" placeholder="Name">
     
                        <button class="wheel-btn">Add</button>
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>