

<script type="text/javascript">
    var ordersList = '@Html.Raw(ViewBag.OrdersList)'
    var topUsers = '@Html.Raw(ViewBag.TopUsers)'
</script>
<div class="wheel-register-block">
    <div class="container">
        <div class="g1 wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
            <h2>This Graph shows how many times each car we own was purchased</h2>
        </div>
        <div class="g2 wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
            <h2>This Graph shows the top renters</h2>
        </div>
    </div>
</div>

<style>
    .bar {
        fill: steelblue;
    }

        .bar:hover {
            fill: brown;
        }

    .axis {
        font: 10px sans-serif;
    }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="~/assets/js/statistics.js"></script>
